# Dependencies
/node_modules
/functions/node_modules

# Firebase
.firebase
firebase-debug.log
firebase-debug.*.log
*.firebase
database-debug.log

# Build output
dist
build
out

# Outros
.vscode
.DS_Store
*.pem
